body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #1d6875;
    font-family: 'Karma', sans-serif;
}

.container {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    position: relative;
    width: 300px;
    height: 400px;
    background-color: #1d6875;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
}

.box .imgBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.box .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}

.box:hover .imgBox img {
    opacity: 0;
}

.box .content {
    position: absolute;
    top: 30px;
    left: 10%;
    width: 80%;
    height: 60px;
    background: #ffffff;
    transition: .5s;
    overflow: hidden;
    padding: 15px;
    box-sizing: border-box;
}

.box:hover .content {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.box .content h3 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;
}

.box .content p {
    margin: 10px 0 0;
    padding: 0;
    opacity: 0;
    line-height: 1.3em;
    transition: .5s;
    text-align: justify;
}

.box:hover .content p {
    opacity: 1;
    transition-delay: .5s;
}